@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #E9EEF5;
  }
}
.input-css{
  @apply  backdrop-blur bg-white/10 font-[Segoe-UI] mt-4 focus:ring-1 ring-[#E346D1] focus:ring-inset text-white text-base md:text-xl mid-xl:text-xl outline-none rounded p-2 w-10/12 lg:w-full sm:w-9/12 md:w-11/12;
}


.btn-css{
  @apply lg:w-full w-7/12 sm:w-9/12 md:w-11/12 font-[Segoe-UI] text-base md:text-xl mid-xl:text-xl  cursor-pointer h-8 sm:h-10 rounded-lg bg-[#E346D1] text-white mt-6
}

.heading-forms, .heading-widgets{
  @apply text-[20px] sm:text-[26px] md:text-[25px] xl:text-[28px] 2xl:text-[36px] font-[Segoe-UI-Bold] font-[700] 
}
@font-face {
  font-family: "Segoe-UI-Bold-Itlaic";
  src: url("../public/fonts/Segoe-UI-Bold-Italic.ttf");
}
@font-face {
  font-family: "Segoe-UI-Bold";
  src: url("../public/fonts/Segoe-UI-Bold.ttf");
}
@font-face {
  font-family: "Segoe-UI-Italic";
  src: url("../public/fonts/Segoe-UI-Italic.ttf");
}
@font-face {
  font-family: "Segoe-UI";
  src: url("../public/fonts/Segoe-UI.ttf");
}
@font-face {
  font-family: "DM-sans";
  src: url("../public/fonts/DMSans-Regular.ttf")
}