@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  
  body {
    color: white;
    
  }
}

@font-face {
  font-family: "Segoe-UI-Bold-Itlaic";
  src: url("../public/fonts/Segoe-UI-Bold-Italic.ttf");
}
@font-face {
  font-family: "Segoe-UI-Bold";
  src: url("../public/fonts/Segoe-UI-Bold.ttf");
}
@font-face {
  font-family: "Segoe-UI-Italic";
  src: url("../public/fonts/Segoe-UI-Italic.ttf");
}
@font-face {
  font-family: "Segoe-UI";
  src: url("../public/fonts/Segoe-UI.ttf");
}